{% load lineage %}
{% load i18n %}

{% if user.is_authenticated or not "logout" in request.path%}

<div class="ui red inverted menu" id="z_main_menu">
	<div class="menu">
		<a class="{% ancestor 'students' %} item" href="{% url "students" %}"> 
			<i class="github icon"></i>{% trans "Students" %}
		</a> 
		<a class="{% ancestor 'treasury' %} item" href="{% url "treasury" %}">
			<i class="dashboard icon"></i>{% trans "Treasury" %}
		</a> 

		<div class="right menu">
			<!-- <div class="item">
				<div class="ui icon input">
					<input placeholder="{% trans "Search..." %}" type="text" id="s" name="s"> 
					<i class="search icon"></i>
				</div>
            </div>-->

			{% include "includes/menu_top_account.html" %}

		</div>
	</div>
</div>

{% endif %}
