# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Build dirs
/docs/build
/build
/debian/aert-webfolder.substvars
/debian/aert-webfolder/
/debian/files
/dist

# SQLite3 database files:
/database.db

# Logs:
/logs/*.log

# Others:
.coverage
.idea
.vagrant
.tags
.project
.pydevproject

# This project
/public/assets/
/RELEASE-VERSION
/deploy/ansible/roles/app_assets/files/initial_data_*.yaml
/deploy/ansible/roles/app_assets/files/setup_assets_*.tgz
