{% load i18n %}
{% load assets_tags %}


<script>
$(function () { 

    {% include "admin/dashboard/includes/_highchart_theme.js" %}

    // Charts
    {% include "admin/dashboard/includes/_welcome_dashboard_main.js" %}
    {% include "admin/dashboard/includes/_welcome_dashboard_pies.js" %}

});
</script>


<div class="results">
    <div id="dash_main" style="width:100%; height:400px;"></div>

    <br/>
    <div id="dash_pie_earnings" style="width:49.9%; height:400px; float:left;"></div>
    <div id="dash_pie_spendings" style="width:49.9%; height:400px; float:right;"></div>

    <div style="clear:both;"></div>
</div>
<br/><br/>
