{% load i18n %}
{% load assets_tags %}

<script>
$(function () { 

    {% include "admin/dashboard/includes/_highchart_theme.js" %}

    // #########################################################################
    $('#dash_chart').highcharts({
        chart: {
            //type: 'bar'
        },
        title: {
            text: '{% trans "DashBoard" %}'
        },
        xAxis: {
            categories: [
                {% for res in results %} '{{ res.month_name }}', {% endfor %}
            ]
        },
        yAxis: {
            title: {
                text: '{% trans "Amount" %}'
            }
        },
            labels: {
                items: [{
                    html: '{% trans "Global Yearly Breakdown" %}',
                    style: {
                        left: '40px',
                        top: '8px',
                        color: 'black'
                    }
                }]
            },
        series: [{
            type: 'column',
            name: '{% trans "Earnings" %}',
            data: [ {% for res in results %} {{ res.amount_earning|intchart }}, {% endfor %} ],
            color: '#69CD4B'
        }, {
            type: 'column',
            name: '{% trans "Spendings" %}',
            data: [ {% for res in results %} {{ res.amount_spending|intchart }}, {% endfor %} ],
            color: '#FF6F34'
        }, {
                type: 'pie',
                name: '{% trans "Total Amount" %}',
                data: [{
                    name: '{% trans "Earnings" %}',
                    y: {{ total_earning|intchart }},
                    color: '#69CD4B'
                }, {
                    name: '{% trans "Spendings" %}',
                    y: {{ total_spending|intchart }},
                    color: '#FF6F34'
                }],
                center: [100, 60],
                size: 100,
                showInLegend: false,
                dataLabels: {
                    enabled: false
                }
            }
        ]
    });
});
</script>


<div class="results">
    <div id="dash_chart" style="width:100%; height:400px;"></div>

    {#{% for res in results %}#}
    {#<p> {{ res.month_name }} - {{ res.amount_earning }} - {{ res.amount_spending }}</p>#}
    {#{% endfor %}#}
</div>
<br/><br/>
