[main]
DEVELOP = false
LOG_DIR = {{ app_log }}
ALLOWED_HOSTS_ = {{ app_servername }}
STATIC_ROOT = {{ app_assets }}/
STATIC_URL = /static/
MEDIA_ROOT = {{ app_uploads }}
MEDIA_URL = http://127.0.0.1/media/

[database]
DATABASE_ENGINE_ = django.db.backends.sqlite3
DATABASE_NAME_ = {{ app_home }}/database.db
DATABASE_USER_ =
DATABASE_PASSWORD_ = 
DATABASE_HOST_ = 
DATABASE_PORT_ =
TEST_DATABASE_NAME_ = 

[secrets]
SECRET_KEY = ljfoauproazirslkfqmjqmjmj
CSRF_MIDDLEWARE_SECRET = qjmsfj!jmjdf###lsmkdjao

[cookies]
SESSION_COOKIE_DOMAIN =

# all settings in debug section should be false in productive environment
# INTERNAL_IPS should be empty in productive environment
[debug]
DEBUG = false
TEMPLATE_DEBUG = false
VIEW_TEST = false
INTERNAL_IPS_ = 
SKIP_CSRF_MIDDLEWARE = false

[email]
SERVER_EMAIL = assets@localhost
EMAIL_HOST = localhost

# the [admins] and [managers] sections are special. Just add lines with
#  full name = email_address@domain.xx
# each section must be present but may be empty.
[admins]
#Admin = admin@localhost

[managers]
#Admin = admin@localhost
